<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <form action = "{% url 'sched:schedule' %}" method="POST">
        {% csrf_token %}
        {{sched}}
    <input type="submit" value="Submit" />
    </form>
    <br>
    <br>
    <table style="margin: 20px">
        <tbody>
        {% for jadwal in jadwalbaru %}
        <tr style="margin: 30px">
            <td style="padding: 30px"> {{jadwal.name}} </td>
            <td style ="padding: 30px"> {{jadwal.tempat}}</td>
            <td style ="padding: 30px">{{jadwal.kategori}} </td>
            <td style ="padding: 30px">{{jadwal.tanggal}}</td>
            <td style ="padding: 30px">{{jadwal.waktu}}</td>
            <td><a href = "{% url 'sched:deletesched' jadwal.id %}">Delete cuy</a></td>
        </tr>
    
        
        {% endfor %}
        </tbody>    
    </table>
    
</body>
</html>